<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <script src="/socket.io/socket.io.js"></script>
  <style>
    /* Add your styles here */
    body {
      font-family: Arial, sans-serif;
    }
    #messages {
      list-style-type: none;
      padding: 0;
    }
    #chat-form {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <form id="logout-form" action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <ul id="messages"></ul>
  <form id="chat-form" action="">
    <input id="message-input" autocomplete="off" placeholder="Type a message..." /><button>Send</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const socket = io();

      // Send message to server
      document.querySelector('#chat-form').addEventListener('submit', (e) => {
        e.preventDefault();
        let messageInput = document.querySelector('#message-input');
        if (messageInput.value) {
          socket.emit('chatMessage', messageInput.value);
          messageInput.value = '';
        }
      });

      // Receive message from server
      socket.on('chatMessage', (data) => {
        let item = document.createElement('li');
        item.textContent = `${data.username}: ${data.message}`;
        document.querySelector('#messages').appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      // Get chat history
      socket.on('chatHistory', (msg) => {
        msg.forEach((message) => {
            let item = document.createElement('li');
            item.textContent = message;
            document.querySelector('#messages').appendChild(item);
        });
        window.scrollTo(0, document.body.scrollHeight);
        });
    });

      // We loggin out?
      document.querySelector('#logout-form').addEventListener('submit', (e) => {
        e.preventDefault();
        fetch('/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        }).then(response => {
          if (response.ok) {
            window.location.href = '/';
          } else {
            // Handle error - for example, show an error message
            console.error('Logout failed');
          }
        });
      });
  </script>
</body>
</html>
